.moveWallPositive {
    animation: moveWallPositive 1.2s ease-in-out forwards;
}
@keyframes moveWallPositive {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
    
}
.moveWallNegative {
    animation: moveWallNegative 1.2s ease-in-out forwards;
}
@keyframes moveWallNegative {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
    
}

.moveBlock {
    animation: moveBlock 1.2s ease-in-out 1.2s forwards, fadeInBlock 1.2s ease-in-out;
}
@keyframes moveBlock {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(500%);
    }
    
}
/* @keyframes glowBlock {
    0%{
        box-shadow: 0 0 50px rgba(0, 107, 229, 1);
     }
     100%{
        box-shadow: 0 0 50px rgba(0, 107, 229, 1);
     }
} */
@keyframes fadeInBlock {
    0%{
        opacity: 0;
     }
     100%{
        opacity: 1;
     }
}
