.split-transition-left {
    position: relative;
    overflow: hidden;
    animation:  split-animation-left 1.2s ease-in-out 1.7s forwards;
  }
  @keyframes split-animation-left {
    0% {
      transform: translateX(0); /* Initial position, no translation */
    }
    100% {
      transform: translateX(-100%); /* Split and pull effect */
    }
  }
  .split-transition-right {
    position: relative;
    overflow: hidden;
    animation:  split-animation-right 1.2s ease-in-out 1.7s forwards;
  }
  .split-transition-bottom {
    position: relative;
    overflow: hidden;
    animation:  split-animation-bottom 0.8s ease-in-out 1.7s forwards;
  }
  .split-transition-top {
    position: relative;
    overflow: hidden;
    animation:  split-animation-top 0.8s ease-in-out 1.7s forwards;
  }
  @keyframes split-animation-right {
    0% {
      transform: translateX(0); /* Initial position, no translation */
    }
    100% {
      transform: translateX(100%); /* Split and pull effect */
    }
  }
  @keyframes split-animation-bottom {
    0% {
      transform: translateX(0); /* Initial position, no translation */
    }
    100% {
      transform: translatey(100%); /* Split and pull effect */
    }
  }
  @keyframes split-animation-top {
    0% {
      transform: translateX(0); /* Initial position, no translation */
    }
    100% {
      transform: translatey(-100%); /* Split and pull effect */
    }
  }
  .move-box {
    
    position: relative;
    animation: move-box-animation 0.8s ease-out; 
  }
  .fadeOut {
    animation: fadeOut 0.1s ease-out forwards 0.7s;
  }
  
  @keyframes move-box-animation {
    0% {
      transform: translateX(0) rotate(0deg)
    }
    100%{
      transform: translateX(1190%) rotate(720deg)
    }
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 100%;
    }
    100% {
      opacity: 0%;
    }
  }
  